<!-- global undo/redo -->
<div id="undoredo" class="undo redo">
	<a href="#" class="undo active">Undo</a>
	<a href="#" class="redo">Redo</a>
</div>

<!-- dock menu icons -->
<nav id="nav-main">
	<ul>
		<li id="nav-item-events">
			<a href="/calendar/">Events</a>
			<ul>
				<li><a href="/events-finder/">Search event</a></li>
				<li><a href="/calendar/">Calendar view</a></li>
				<li><a href="#">Tree view</a></li>
				<li><a href="#">Zoek in Podiumkunst.info</a></li>
			</ul>
		</li><li id="nav-item-teams">
			<a href="/team-planner-weekview/">Team Planner</a>
			<ul>
				<li><a href="/team-planner-weekview/">Week view</a></li>
				<li><a href="/team-planner-dayview/">Day view</a></li>
			</ul>
		</li><li id="nav-item-resources">
			<a href="/resources-finder/">Resources</a>
			<ul>
				<li><a href="/resources-finder/">Search resource</a></li>
				<li><a href="/resources-inspectors/">Add new</a></li>
			</ul>
		</li><li id="nav-item-contacts">
			<a href="/contacts/">Contacts</a>
			<ul>
				<li><a href="/contacts-finder/">Search contact</a></li>
				<li><a href="/contacts/">Add new person</a></li>
				<li><a href="/contacts/">Add new organisation</a></li>
				<li><a href="/contacts/">Search in Themis</a></li>
			</ul>
		</li><li id="nav-item-tasks">
			<a href="/tasks/">Tasks</a>
			<ul>
				<li><a href="/tasks/">Search task</a></li>
				<li><a href="/tasks/">Add new</a></li>
			</ul>
		</li><li id="nav-item-reports">
			<a href="/reports-finder/">Reports</a>
			<ul>
				<li><a href="#">Show read only calendar</a></li>
				<li><a href="/reports-finder/">Reports</a></li>
			</ul>
		</li><li id="nav-item-help">
			<a href="#">Help</a>
			<span>New</span>
			<ul>
				<li><span class="nav-item-additional">You have version 25</span></li>
				<li><a href="#">Helpdesk</a></li>
				<li><a href="#">Manual</a></li>
				<li><a href="#"><i class="count-pill count-pill--alert pull-right">New</i> Release Notes</a></li>
			</ul>
		</li><li id="nav-item-search">
			<a href="/search/">Search</a>
		</li><li id="nav-item-user">
			<a href="/user-settings/">Eddy</a>
			<ul>
				<li><a href="/user-settings/">Preferences</a></li>
				<li><a href="/admin-users/">Global settings</a></li>
				<li><a href="/">Log out</a></li>
			</ul>
		</li><li id="nav-item-todo">
			<a href="/tasks/">To Do</a>
      <span>5</span>
		</li><li id="nav-item-alerts">
			<a href="/ui-elements/">Conflicts</a>
      <span>99999</span>
		</li><li id="nav-item-updates">
			<a href="/ui-elements/">Updates</a>
      <span>666</span>
		</li>
	</ul>
</nav>
