<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} | Yesplan Prototypes</title>

  <link
    rel="stylesheet"
    media="screen, projection"
    href="/assets/main.css">


  <link
    rel="stylesheet"
    media="screen, projection"
    href="/stylesheets/calendar-large.css"
    title="Large view" />

  <link
    rel="alternate stylesheet"
    media="screen, projection"
    href="/stylesheets/calendar-medium.css"
    title="Medium view" />

  <link
    rel="alternate stylesheet"
    media="screen, projection"
    href="/stylesheets/calendar-small.css"
    title="Small view" />

  <link
    rel="stylesheet"
    media="screen, projection"
    href="/stylesheets/reportdesigner.css">

  <link
    rel="stylesheet"
    media="screen, projection"
    href="/stylesheets/static.css">

  <script type="text/javascript" src="/assets/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/javascripts/jquery.easing.min.js"></script>
  <script type="text/javascript" src="/assets/javascripts/TweenMax.min.js"></script>
  <script type="text/javascript" src="/assets/javascripts/main.js"></script>
</head>